@model Paginacion<ProMSC.Areas.Servidores.Models.Servidor>

@{
    ViewData["Title"] = "Servidores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Servidores</h1>


<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
@using (Html.BeginForm())
{
    <p>
        Nombre VPS : @Html.TextBox("BuscarNombre")  <button type="submit"><i class="fas fa-search"></i> Buscar</button> <a asp-action="Index">Todos los registros</a> | Registros mostrados @Model.TotalR
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NombrevpsSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Nombre VPS</a>
            </th>
            <th>
                CPU
            </th>
            <th>
                RAM
            </th>
            <th>
                IP's
            </th>
            <th>
                Disco Duro (GB)
            </th>
            <th>
                Sistema Operativo
            </th>
            <th>
                Base de datos
            </th>
            <th>
                Escritorios Remotos
            </th>
            <th>
                Ancho de banda
            </th>
            <th>
                Ingrese IP Publica
            </th>
            <th>
                Ingrese IP Privada
            </th>
            <th>
                Descripción
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["EstadoSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Estado</a>
            </th>
            <th>
                Cliente
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombrevps)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cpu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ram)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ips)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.discoduro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.osystem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.database)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.desktop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.anchobanda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ip_publica)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ip_privada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cliente.razonsocial)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.idvps">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.idvps">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.idvps">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Anterior
</a>
@for (int i = 1; i <= Model.TotalPages; i++)
{
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@i"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default">
        @i
    </a>
}
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Siguiente
</a>