@model IEnumerable<ProMSC.Areas.Clientes.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Clientes</h1>
<p>
    @Html.ActionLink("Crear Nuevo", "Create")

    @using (Html.BeginForm())
    {
    <p>
        Razón Social : @Html.TextBox("BuscarNombre")  <input type="submit" value="Buscar" />
    </p>
    }
</p>
@*<p>
     <a asp-action="Create">Crear Nuevo</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.razonsocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ubicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contacto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.razonsocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ubicacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.contacto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.idcliente">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.idcliente">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.idcliente">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
